<footer class="footer">
    <div class="container">
        <div class="footer-section">
            <h4>About Product</h4>
            <p>
                The Weather App is a user-friendly mobile or web application designed to provide users with accurate and
                up-to-date weather information for any location worldwide. The app offers a range of features including
                current weather conditions, hourly forecasts, daily forecasts, weather maps, and severe weather alerts.
            </p>
        </div>
        <div class="footer-section">
            <h4>Products </h4>
            <ul>
                <li><a href="https://ratingrishu.github.io/NutriBytes/" target="_blank">NutriBytes</a></li>
                <li><a href="#top">Home</a></li>
                <li><a href="#">Weather</a></li>
                <li><a href="https://ratingrishu.github.io/My-Portfolio/about" target="_blank">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Contact Us</h4>
            <p>Email: rairishabh5001@gmail.com</p>
            <p>Phone: (123) 456-7890</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 R-Tech Solution. All rights reserved.</p>
    </div>
</footer>